@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-gradient {
  animation: spin 3s linear infinite;
  animation-timing-function: linear; /* Ensure constant speed */
}

.rgb-button {
  background: linear-gradient(45deg, #ff9a8b, #ff6a00, #ffd200);
  background-size: 600% 600%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: "BlanksScript";
  src: url("/fonts/BlanksscriptpersonaluseBdit-jEM6O.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.cards img {
  height: 125px;
  width: 125px;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, padding 0.3s ease-in-out;
}

#services {
  background-image: linear-gradient(to bottom, #ffffff, #f9f9f9, #f1f1f1);
}

#about {
  background: linear-gradient(104deg, rgba(33, 62, 96, 1), rgba(23, 44, 68, 1));
}

/* for the calendar interface */
/* for the navigation */
.navigation {
  display: flex;
  align-items: center;
  color: #e68c3a;
}

.navigation button {
  cursor: pointer;
}

.rbc-toolbar-label {
  /* color: #e68c3a !important; */
  font-weight: 600 !important;
  font-size: 1.2rem !important;
}

.rbc-header {
  background-color: #e68c3a !important;
  color: white !important;
  font-weight: 600 !important;
  /* padding: 0.5rem 1rem !important; if-add siya kay need i-adjut sa view sa weekly */
  border-radius: 5px !important;
}

.viewer button {
  background-color: #213e60 !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  padding: 0.5rem 1rem !important;
  cursor: pointer;
}

.viewer button:hover {
  background-color: #1a2b40 !important;
}

.viewer button:active {
  background-color: #e68c3a !important;
  transition: ease-in-out;
}

.label-month {
  font: bold 1.2rem "Poppins", sans-serif !important;
}
